n8n/email_intake_workflow.json
{
  "name": "WorkmateOS – Email Intake (3 Postfächer)",
  "active": false,
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "IMAP – support@kit-it-koblenz.de",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [260, 200],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_IMAP_SUPPORT_CRED_ID",
          "name": "IMAP support@kit-it-koblenz.de"
        }
      },
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": false,
        "options": {}
      },
      "polling": true,
      "pollTimes": {
        "item": [{ "mode": "everyMinute" }]
      }
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "IMAP – kontakt@kit-it-koblenz.de",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [260, 420],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_IMAP_KONTAKT_CRED_ID",
          "name": "IMAP kontakt@kit-it-koblenz.de"
        }
      },
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": false,
        "options": {}
      },
      "polling": true,
      "pollTimes": {
        "item": [{ "mode": "everyMinute" }]
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "IMAP – info@kit-it-koblenz.de",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [260, 640],
      "credentials": {
        "imap": {
          "id": "REPLACE_WITH_IMAP_INFO_CRED_ID",
          "name": "IMAP info@kit-it-koblenz.de"
        }
      },
      "parameters": {
        "mailbox": "INBOX",
        "postProcessAction": "read",
        "downloadAttachments": false,
        "options": {}
      },
      "polling": true,
      "pollTimes": {
        "item": [{ "mode": "everyMinute" }]
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "Set – support",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 200],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "subject",     "value": "={{ $json.subject || '(kein Betreff)' }}", "type": "string" },
            { "id": "f2", "name": "body",         "value": "={{ $json.text || $json.html || '' }}",    "type": "string" },
            { "id": "f3", "name": "from_email",   "value": "={{ ($json.from?.value?.[0]?.address) ?? ($json.from?.match(/<(.+?)>/)?.[1]) ?? $json.from ?? '' }}", "type": "string" },
            { "id": "f4", "name": "from_name",    "value": "={{ ($json.from?.value?.[0]?.name) ?? ($json.from?.split('<')?.[0]?.trim()) ?? '' }}",                                                  "type": "string" },
            { "id": "f5", "name": "mailbox",      "value": "support",                                  "type": "string" },
            { "id": "f6", "name": "received_at",  "value": "={{ $json.date }}",                        "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Set – kontakt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 420],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "subject",     "value": "={{ $json.subject || '(kein Betreff)' }}", "type": "string" },
            { "id": "f2", "name": "body",         "value": "={{ $json.text || $json.html || '' }}",    "type": "string" },
            { "id": "f3", "name": "from_email",   "value": "={{ ($json.from?.value?.[0]?.address) ?? ($json.from?.match(/<(.+?)>/)?.[1]) ?? $json.from ?? '' }}", "type": "string" },
            { "id": "f4", "name": "from_name",    "value": "={{ ($json.from?.value?.[0]?.name) ?? ($json.from?.split('<')?.[0]?.trim()) ?? '' }}",                                                  "type": "string" },
            { "id": "f5", "name": "mailbox",      "value": "kontakt",                                  "type": "string" },
            { "id": "f6", "name": "received_at",  "value": "={{ $json.date }}",                        "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Set – info",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [520, 640],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "f1", "name": "subject",     "value": "={{ $json.subject || '(kein Betreff)' }}", "type": "string" },
            { "id": "f2", "name": "body",         "value": "={{ $json.text || $json.html || '' }}",    "type": "string" },
            { "id": "f3", "name": "from_email",   "value": "={{ ($json.from?.value?.[0]?.address) ?? ($json.from?.match(/<(.+?)>/)?.[1]) ?? $json.from ?? '' }}", "type": "string" },
            { "id": "f4", "name": "from_name",    "value": "={{ ($json.from?.value?.[0]?.name) ?? ($json.from?.split('<')?.[0]?.trim()) ?? '' }}",                                                  "type": "string" },
            { "id": "f5", "name": "mailbox",      "value": "info",                                     "type": "string" },
            { "id": "f6", "name": "received_at",  "value": "={{ $json.date }}",                        "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "HTTP – Ingest WorkmateOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [780, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_WORKMATE_API_KEY_CRED_ID",
          "name": "WorkmateOS API Key"
        }
      },
      "parameters": {
        "method": "POST",
        "url": "https://api.workmate.kit-it-koblenz.de/api/v1/email/ingest",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "keypairs",
        "bodyParameters": {
          "parameters": [
            { "name": "subject",     "value": "={{ $json.subject }}" },
            { "name": "body",        "value": "={{ $json.body }}" },
            { "name": "from_email",  "value": "={{ $json.from_email }}" },
            { "name": "from_name",   "value": "={{ $json.from_name }}" },
            { "name": "mailbox",     "value": "={{ $json.mailbox }}" },
            { "name": "received_at", "value": "={{ $json.received_at }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "IF – Ingest erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1040, 420],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "c1",
              "leftValue":  "={{ $json.ticket_id }}",
              "rightValue": "",
              "operator": { "type": "number", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 540],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconsole.error('[WorkmateOS] Email-Ingest FEHLER:', JSON.stringify(item, null, 2));\nreturn [{ json: { error: true, detail: item, timestamp: new Date().toISOString() } }];"
      }
    }
  ],
  "connections": {
    "IMAP – support@kit-it-koblenz.de": {
      "main": [[{ "node": "Set – support", "type": "main", "index": 0 }]]
    },
    "IMAP – kontakt@kit-it-koblenz.de": {
      "main": [[{ "node": "Set – kontakt", "type": "main", "index": 0 }]]
    },
    "IMAP – info@kit-it-koblenz.de": {
      "main": [[{ "node": "Set – info",    "type": "main", "index": 0 }]]
    },
    "Set – support": {
      "main": [[{ "node": "HTTP – Ingest WorkmateOS", "type": "main", "index": 0 }]]
    },
    "Set – kontakt": {
      "main": [[{ "node": "HTTP – Ingest WorkmateOS", "type": "main", "index": 0 }]]
    },
    "Set – info": {
      "main": [[{ "node": "HTTP – Ingest WorkmateOS", "type": "main", "index": 0 }]]
    },
    "HTTP – Ingest WorkmateOS": {
      "main": [[{ "node": "IF – Ingest erfolgreich?", "type": "main", "index": 0 }]]
    },
    "IF – Ingest erfolgreich?": {
      "main": [
        [],
        [{ "node": "Log Error", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": []
}
